body{
    font-family: Arial;
}

.container{
    display: grid;
    padding-left: 25rem;
    padding-right: 25rem;
}

.form-items{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

label{
    font-weight: bold;
}

input, textarea{
    padding: .8rem;
    border-radius: .5rem;
}

.option-category{
    padding: .8rem;
    background-color: #D9D9D9;
    border: none;
    margin-top: 1rem;
    border-radius: .5rem;
}

.textfield{
    background-color: #D9D9D9;
    border: none;
    margin-top: 1rem;
}

#preview{
    display: block;
    width: 100%;
}

.title-admin{
    text-align: center;
}

.submit-btn{
    border: none;
    background: #FFAA04;
    color: var(--clr-black);
    padding: 1rem 0;
    cursor: pointer;
}

.link-btn{
    border-radius: .5rem;
    color: var(--clr-black);
    text-decoration: none;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

input[type='file'] {
    color: var(--clr-white);
    padding: 1rem 0;
    background-color: #D9D9D9;
}

input[type='file']::before {
    content: 'Select an image';
    color: var(--clr-black);
    margin: 0 .7rem;
  }


td{
    padding: .7rem;
}



.table-row{
   background-color: var(--clr-grey);
   border: solid 1px var(--clr-black); 
}

table{
    border-collapse: collapse;
}

tr,td{
    color: var(--clr-grey-arrows);
}

.table-title{
    color: var(--clr-white);
}

.table-columns{
    margin: 1rem 0 0;
    font-size: var(--fs-md);
    background-color: var(--clr-red);
    border: solid 1px var(--clr-black); 
    color: var(--clr-white);
}
.link-admin{
    text-decoration: none;
    color: var(--clr-grey-arrows);
   
}