body{
    font-family: Arial;
}

.container{
    display: grid;
    width: 15rem;
}

.form-items{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

label{
    font-weight: bold;
}

input, textarea{
    padding: .5rem;
    border-radius: .5rem;
}

#preview{
    display: block;
    width: 100%;
}

.submit-btn{
    border: none;
    background: black;
    color: white;
    padding: 1rem 0;
    cursor: pointer;
}

.link-btn{
    border-radius: .5rem;
    color: black;
    text-decoration: none;
    background: #009eff;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

input[type='file'] {
    background: #12579f;
    color: transparent;
    padding: 1rem 0;
}

input[type='file']::before {
    content: 'Pick an image file';
    color: white;
    margin: 0 .7rem;
  }

thead{
    font-weight: bold;
}

td{
    padding: .7rem;
}

.table-columns{
    margin: 1rem 0 0;
    font-size: var(--fs-md);
    background-color: var(--clr-red);
    border: solid 1px var(--clr-black); 
    
}

.table-row{
   background-color: var(--clr-grey);
   border: solid 1px var(--clr-black); 
}

table{
    border-collapse: collapse;
}

tr,td{
    color: var(--clr-grey-arrows);
}


.link-admin{
    text-decoration: none;
    color: var(--clr-grey-arrows);
   
}