.footer-container {
    background: var(--clr-grey-footer);
    background-position: center;
    background-size: cover;
    border-top-left-radius:3rem;
    border-top-right-radius:3rem;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.nav-bottom-link{
    color: var(--clr-white);
    font-size: var(--fs-md);
    padding-left: 6rem;
    text-decoration: none;
}

.nav-bottom-list li {
    margin-top: 3rem; 
}

.icon-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -18rem;
    scale: 0.6;
}

.nav-bottom-apps {
    align-items: flex-end;
    display: flex;
    flex-direction: column; 
    list-style-type: none;
    margin-top: -17rem;
    padding-right: 5rem;
}

.nav-bottom-apps li {
    margin-top: 4rem; 
}

.nav-bottom-apps img {
    max-width: 100%;
}

.footer-legal {
    color: var(--clr-white);
    font-size: var(--fs-md);
    padding-bottom: 2rem;
    text-align: center;
}

@media (max-width: 767.98px) {
    .nav-bottom-link{
        color: var(--clr-white);
        font-size: var(--fs-md);
        padding-left: 2rem;
        text-decoration: none;
    }
    
    .nav-bottom-list {
        padding-top: 3.5rem;
    }

    .nav-bottom-list li {
        margin-top: 2rem; 
    }

    .nav-bottom-apps {
        align-items: flex-end;
        display: flex;
        flex-direction: column; 
        list-style-type: none;
        margin-top: -33rem;
        padding-right: 2rem;
    }
    
    .icon-image {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: -2rem;
        scale: 0.6;
    }
}