.top-nav {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-left: 10rem;
    margin-bottom: 8rem;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 1rem;
    list-style-type: none;
    margin-left: 2rem;
}

.nav-list-link {
    text-decoration: none;
    color: var(--clr-white);
    font-size: var(--fs-md);
}

.icon {
    display: flex;
    align-items: right;
    padding: 0;
    scale: 1.5;
    left: 5rem;
    width: 30px;
    height: 30px; 
} 

.logo-img {
    width: 80px;
    height: 80px; 
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: var(--clr-black);
}

.navigation a:hover {
    background: var(--clr-grey-arrows);
}

.nav-list-icon {
    display: flex;
    align-items: center;
    margin-left: 1rem; 
}

.mobile-check {
    display: none;
}

@media(min-width:800px) {
    .top-nav {
        display: flex;
        justify-content: center;
        scale: 0.8;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:767.98px) {

    .top-nav {
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .navigation {
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .mobile-btn{
        position: fixed;
        top: 4rem;
        right: 2rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 3;
    }

    .mobile-btn > span,
    .mobile-btn > span::before,
    .mobile-btn > span::after{
        display: block;
        position: absolute;
        width: 100%;
        height: .2rem;
        background: var(--clr-black);
        transition-duration: .25s;
    }

    .mobile-btn > span::before{
        content: '';
        top: -.5rem;
    }

    .mobile-btn > span::after{
        content: '';
        top: .5rem;
    }

    .mobile-check{
        opacity: 0;
        position: fixed;
        top: 3.5rem;
        right: 2.25rem;
        z-index: 4;
    }

    .mobile-check:checked + .mobile-btn > span{
        transform: rotate(45deg);
    }

    .mobile-check:checked + .mobile-btn > span::before{
        top: 0;
        transform: rotate(0deg);
    }

    .mobile-check:checked + .mobile-btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }

    .mobile-check:checked ~ .navigation{
        right: 0;
    }
    
    .navigation{
        display: grid;
        position: fixed;
        margin: 0;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background: var(--clr-white);
        align-content: center;
        text-align: left;
        padding-left: 2rem;
        gap: 0;
        z-index: 2;
        transition: right .25s;
    }


}
